.wrapper {
  width: 600px;
	height: 600px;
  margin: 0 auto;
  border: 1px solid #000;
  display: grid;
  grid-template-columns: 200px 200px 200px;
  grid-template-rows: 200px 200px 200px;
}

.wrapper div:nth-child(odd) {
  background-color: #791C16;
}


img {
  height: 200px;
  width: 200px;
}
