.tg  {
  border-collapse:collapse;
  border-spacing:0;
  margin:0px auto;
}

.tg td{
  font-family:Arial, sans-serif;
  font-size:14px;
  padding:40px 35px;
  border-style:solid;
  border-width:4px;
  overflow:hidden;
  word-break:normal;
}

.tg th{
  font-family:Arial, sans-serif;
  font-size:14px;
  font-weight:normal;
  padding:40px 35px;
  border-style:solid;
  border-width:4px;
  overflow:hidden;
  word-break:normal;
}

.tg .tg-9pd9{
  background-color:#ff6023;
  vertical-align:top;
}

.tg .tg-83rd{
  background-color:#ffeb4a;
}

.tg .tg-51vh{
  background-color:#161414;
  vertical-align:top;
}

.tg .tg-yw4l{
  vertical-align:top;
}

.tg .tg-7wua{
  background-color:#ffeb4a;
  vertical-align:top;
}

.tg .tg-3bsc{
  background-color:#004080;
  vertical-align:top;
}
