body {
  padding: 0px;
  margin: 0px;
  background: url("../img/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

.wrapper {
  margin: 30px;
  width: auto;
}
/*header*/
.header {
  font-family: Tahoma;
  font-size: 12px;
  color: #e6e6e6;
  height: 200px;
  margin-left: 35px;
  margin-right: 35px;
}

.left {
  display: inline-block;
  margin-right: 65%;
}

.logo {
  background: url("../img/palm.png") 100% 100% no-repeat,
              url("../img/logo.png") 50% 70% no-repeat;
  height: 150px;
  width: 270px;
  border: 1px solid transparent;
}

 .logo p {
  text-align: center;
  padding-top: 120px;
 }

.right {
  display: inline-block;
}

/*container*/


.container div {
  display: inline-block;
  border: 1px solid transparent;
}
.firstLine {
  margin-bottom: 70px;
  border: 1px solid transparent;
}

.SecondLine {
  border: 1px solid transparent;
}

.nepal,
.india,
.tibet,
.bhutan,
.sriLanka,
.maldives,img {
  display: block;
  width: 380px;
  height: 280px;
  border: 2px solid #e6e6e6 ;
  margin: 0;
  padding: 0;
}

.nepal,
.india,
.bhutan,
.sriLanka, img {
  margin-right: 20px;
}
figcaption {
  text-align: center;
  color: #e6e6e6;
  text-decoration: none;
}

figcaption, a:hover {
  text-decoration: none;
}

/*footer*/
.footer p {
  display: block;
  margin-top: 180px;
  text-align: center;
  color: #e6e6e6;
}
