body {
  margin: 0;
  padding: 0;
  background: url("../img/background.png");
  background-repeat: no-repeat;
  background-size: 100%;
}

.wrapper {
  height: 100vh;
  width: 100vw;
  margin: 0 auto;
  position: relative;
}

nav {
  background: url("../img/ul.png");
  width: 100vw;
  height: 37px;
  background-repeat: repeat-x;
  margin: 0;
  position: absolute;
}

ul {
  float: right;
  margin: 0;
    padding: 0;
    border: 1px solid transparent;
}

li {
  float: left;
  list-style: none;
  height: 37px;
}

li a{
  display: inline-block;
  height: 37px;
  line-height: 37px;
  font-family: Tahoma;
  font-size: 14px;
  color: #60b5ed;
}

li:hover {
  background: #59b0dc;
  text-align: center;
  height: 37px;
  line-height: 37px;
  margin: 0;
  padding: 0;
}

li a:hover {
  display: block;
  height: 37px;
  line-height: 37px;
  text-decoration: none;
  color: white;
}

.sign-in2 {
  border-left: 1px solid #60b5ed;
}

.sign-in1 {
  background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,.3) 20%, rgba(255,255,255,.3));
  background-image: -moz-linear-gradient(bottom, rgba(0,0,0,.3) 20%, rgba(255,255,255,.3));
  background-image: -o-linear-gradient(bottom, rgba(0,0,0,.3) 20%, rgba(255,255,255,.3));
  background-image: -ms-linear-gradient(bottom, rgba(0,0,0,.3) 20%, rgba(255,255,255,.3));
  background-image: linear-gradient(to top, rgba(0,0,0,.3) 20%, rgba(255,255,255,.3));
}

.sign-in2 span, .sign-in1 span {
  color: white;
  height: 37px;
  line-height: 37px;
}

.sign-in1 li {
  border: solid 1px #e68e16;
	background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,.3) 20%, rgba(255,255,255,.3));
	background-image: -moz-linear-gradient(bottom, rgba(0,0,0,.3) 20%, rgba(255,255,255,.3));
	background-image: -o-linear-gradient(bottom, rgba(0,0,0,.3) 20%, rgba(255,255,255,.3));
	background-image: -ms-linear-gradient(bottom, rgba(0,0,0,.3) 20%, rgba(255,255,255,.3));
	background-image: linear-gradient(to top, rgba(0,0,0,.3) 20%, rgba(255,255,255,.3));
}

.centerBlock {
  display: block;
  position: absolute;
  left: 50%;
  margin-left: -300px;
  top: 50%;
  margin-top: -150px;
  margin-bottom: 150px;
  background-color: rgba(31, 31, 31, 0.5);
  width: 600px;
  height: 600px;
}

.text p {
  text-align: center;
  color: white;
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 14pt;
  border-bottom: 1px solid white;
}

.fb {
  display: block;
  width: 300px;
  height: 45px;
  margin-left: 160px;
  margin-top: 20px;
  margin-bottom: 50px;
}

.fb img {
  margin-top: -3px;
  margin-left: -9px;
}

button {
  width: 276px;
  height: 34px;
  margin-top: 20px;
  border-radius: 6px 6px 6px 6px;
  margin-bottom: 50px;
}
