body {
  margin: 0 auto;
  padding: 0;
}

.wrapper {
  height: 100vh;
  margin: 0 auto;
  position: absolute;
  margin: 0 auto;
}

nav {
  background: url("../img/ul.png");
  width: 100%;
  background-repeat: repeat-x;
  margin: 0;
  position: absolute;
}

ul {
  float: right;
  margin: 0;
  padding: 0 20px;
}

li {
  float: left;
  list-style: none;
}

li a {
  display: inline-block;
  padding: 11px 15px;
  font-family: Tahoma;
  font-size: 14px;
  color: #60b5ed;
}

ul li.onhover:hover {
  background: #59b0dc;
  text-align: center;
  margin: 0;
}

li.onhover a:hover {
  display: block;
  padding: 12px 15px;
  text-decoration: none;
  color: white;
}

.sign-in2 {
  border-left: 1px solid #60b5ed;
}

.sign-in1 {
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, .3) 20%, rgba(255, 255, 255, .3));
  background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, .3) 20%, rgba(255, 255, 255, .3));
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, .3) 20%, rgba(255, 255, 255, .3));
  background-image: -ms-linear-gradient(bottom, rgba(0, 0, 0, .3) 20%, rgba(255, 255, 255, .3));
  background-image: linear-gradient(to top, rgba(0, 0, 0, .3) 20%, rgba(255, 255, 255, .3));
}

.sign-in2 span, .sign-in1 span {
  display: block;
  color: white;
  padding: 11px 15px;
}

.sign-in2 span {
  float: right;
}

.sign-in2 img {
  vertical-align: middle;
  margin: 5px 10px;
}

.centerBlock {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-20%);
  background-color: rgba(0, 0, 0, 0.63);
  width: 560px;
  height: 613px;
}

.text p {
  text-align: center;
  color: white;
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 14pt;
  border-bottom: 1px solid white;
}

label {
  font-family: Tahoma;
	font-size: 14px;
	color: #ccc;
}
.centerBlock {
  font-family: Tahoma;
	font-size: 14px;
	color: #ccc;
  text-align: center;
}

.fb {
  display: block;
  width: 276px;
  height: 35px;
  border-radius: 6px;
  border: solid 1px #364C8C;
  background: url("../img/fb.png");
  background-repeat: no-repeat;
  background-size: 100%;
}

.line {
  display: inline-block;
  height: 1px;
  width: 130px;
  background: #666;
  -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 1);
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 1)}

  .border-line p{
  display: inline-block;
  font-family: Tahoma;
  font-size: 14px;
  color: #999;
}

.border-line p:before,
.border-line p:after {
  content: "";
  position: absolute;
  height: 0px;
  border-bottom: 1px solid black;
  border-top: 1px solid white;
  top: 0;
  width: 130px;
}

input {
  margin: 10px auto;
  padding: 0 10px;
}

input[type=text], input[type=password] {
  display: block;
  width: 284px;
	height: 41px;
  color: #bbb;
  text-shadow: 1px 1px 1px black;
  background-image: -webkit-linear-gradient(bottom, #111, #0e0d0d);
  background-image: -moz-linear-gradient(bottom, #111, #0e0d0d);
  background-image: -o-linear-gradient(bottom, #111, #0e0d0d);
  background-image: -ms-linear-gradient(bottom, #111, #0e0d0d);
  background-image: linear-gradient(to top, #111, #0e0d0d);
  border: 0;
}

input[type=text]:focus, input[type=password]:focus {
  color: white;
  background: rgba(0, 0, 0, 0.1);
  outline: 0;
}

input[type=text]:hover, input[type=password]:hover {
  -webkit-box-shadow: 0 0 9px rgba(47,123,197,.77), 0 1px #4b4b4b, inset 0 2px 5px rgba(29,26,22,.2), inset 0 0 2px rgba(0,0,0,.1);
  	-moz-box-shadow: 0 0 9px rgba(47,123,197,.77), 0 1px #4b4b4b, inset 0 2px 5px rgba(29,26,22,.2), inset 0 0 2px rgba(0,0,0,.1);
  	box-shadow: 0 0 9px rgba(47,123,197,.77), 0 1px #4b4b4b, inset 0 2px 5px rgba(29,26,22,.2), inset 0 0 2px rgba(0,0,0,.1);
  	background-image: -webkit-linear-gradient(bottom, #1D4D7C, #1B5287);
  	background-image: -moz-linear-gradient(bottom, #1D4D7C, #1B5287);
  	background-image: -o-linear-gradient(bottom, #1D4D7C, #1B5287);
  	background-image: -ms-linear-gradient(bottom, #1D4D7C, #1B5287);
  	background-image: linear-gradient(to top, #1D4D7C, #1B5287);
    width: 284px;
  	height: 41px;
}

.submit {
  display: block;
  width: 155px;
  height: 41px;
  border: solid 1px #3281C8;
  background: -moz-linear-gradient(top, rgba(104,198,230,1) 0%, rgba(82,177,221,1) 3%, rgba(56,138,203,1) 58%, rgba(47,124,197,1) 82%, rgba(46,122,196,1) 91%, rgba(51,130,200,1) 94%, rgba(65,151,210,1) 97%, rgba(67,153,210,0.09) 100%);
  background: -webkit-linear-gradient(top, rgba(104,198,230,1) 0%,rgba(82,177,221,1) 3%,rgba(56,138,203,1) 58%,rgba(47,124,197,1) 82%,rgba(46,122,196,1) 91%,rgba(51,130,200,1) 94%,rgba(65,151,210,1) 97%,rgba(67,153,210,0.09) 100%);
  background: linear-gradient(to bottom, rgba(104,198,230,1) 0%,rgba(82,177,221,1) 3%,rgba(56,138,203,1) 58%,rgba(47,124,197,1) 82%,rgba(46,122,196,1) 91%,rgba(51,130,200,1) 94%,rgba(65,151,210,1) 97%,rgba(67,153,210,0.09) 100%);
  color: white;
}
